   <!-- Topbar Start -->
@using Microsoft.AspNet.Identity
@using IceCream.Models;
@{
    ApplicationDbContext db = new ApplicationDbContext();
    var userid = User.Identity.GetUserId();
    var user = db.Users.Where(x => x.Id == userid).FirstOrDefault();
    if(user != null) {
        ViewBag.Avatar = user.Avatar;
    }


}
<div class="container-fluid bg-primary py-3 d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white pr-3" href="">FAQs</a>
                    <a class="text-white pr-3" href="">Help</a>
                    <a class="text-white" href="">Support</a>

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                <div class="dropdown">
                    <a class="ml-3 d-flex align-items-center text-black-50 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar">
                            <img src="@ViewBag.Avatar" alt="@User.Identity.GetUserName()" />
                        </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        @Html.ActionLink("Profile", "Profile", "Home", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                    </div>                    
                </div>
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "ml-3 text-white" })
                        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "ml-3 text-white" })
                    }
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-3" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-3" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-white px-3" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-white px-3" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-white pl-3" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
            <a href="index.html" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-4 text-primary"><span class="text-secondary">ICE</span>CREAM</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-item nav-link active" })                    
                    <a href="recipe.html" class="nav-item nav-link">Recipe</a>
                    <a href="book.html" class="nav-item nav-link">Book</a>
                </div>
                <a href="/" class="navbar-brand mx-5 d-none d-lg-block">
                    <h1 class="m-0 display-4 text-primary"><span class="text-secondary">ICE</span>CREAM</h1>
                </a>
                <div class="navbar-nav mr-auto py-0">
                    @Html.ActionLink("About", "About", "Home", new { @class = "nav-item nav-link" })
                    <a href="award.html" class="nav-item nav-link">Awards</a>
                    @Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-item nav-link" })
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
